@font-face {
  src: url("./../fonts/SFProText-Regular.ttf");
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("./../fonts/SFProText-Medium.ttf");
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
}
.conteiner {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.dn {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

.mainscreen {
  width: 100%;
  background-color: rgb(37, 30, 30);
}

.header {
  display: flex;
  margin: 0 auto;
}

.logo {
  background-color: rgb(250, 88, 42);
  width: 136px;
  height: 139px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.logo__icon {
  width: 28.84px;
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 auto;
}

.logo__text {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Text";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  align-items: center;
}

.header__more {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(90, 90, 90);
  margin-bottom: 40px;
}

.header__line {
  width: 40px;
  height: 1px;
  border: 1px solid rgb(90, 90, 90);
  margin-right: 15px;
}

.header__text {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Text";
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.header__btn {
  display: flex;
  background-color: rgb(37, 30, 30);
  border: 1px solid rgb(90, 90, 90);
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.header__btn-icon {
  width: 15px;
  height: 17px;
  margin-left: 10px;
}

.mainpage {
  display: flex;
  margin: 0 auto;
}

.mainpage__left {
  display: flex;
  flex-direction: column;
  padding-top: 51px;
}

.mainpage__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 104px;
}

.menu__link {
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.mainpage__button {
  margin-bottom: 29px;
}

.mainpage__btn {
  display: block;
  background-color: rgb(250, 88, 42);
  border: none;
  padding: 16px 10px;
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
}

.mainpage__text {
  max-width: 559px;
  width: 100%;
}

.mainpage__title {
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 48px;
  font-weight: 400;
  line-height: 135%;
}

.mainpage__subtitle {
  max-width: 305px;
  width: 100%;
  color: rgb(230, 230, 230);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 146%;
  margin-top: 30px;
  margin-bottom: 46px;
}

.mainpage__image {
  display: flex;
  margin-bottom: 50px;
}

.mainpage__img {
  width: 193px;
  height: 136px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-right: 30px;
}

.mainpage__screen {
  width: 1040px;
  height: 808px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.information {
  display: flex;
  gap: 142px;
  margin-top: 211px;
}

.information__left {
  display: flex;
  gap: 50px;
  padding-top: 31px;
}

.information__naming {
  display: block;
  width: 61px;
  color: rgb(180, 180, 180);
  font-family: SF Pro Text;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 25px;
  transform: rotate(90deg);
  white-space: nowrap;
  margin-top: 19px;
}

.information__desc {
  display: flex;
  flex-direction: column;
}

.information__title {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 31px;
}

.information__paragraph {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 146%;
  margin-bottom: 30px;
}

.information__btn {
  display: block;
  background: rgb(37, 30, 30);
  padding: 10px 16px;
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 500;
}

.information__image {
  width: 640px;
  height: 422px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.video {
  display: flex;
  margin-top: 150px;
  position: relative;
}

.video__img {
  width: 1086px;
  height: 690px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.video__icon {
  position: absolute;
  width: 62.9px;
  height: 62.9px;
  left: 43%;
  top: 50%;
  transform: translate(20%, -40%);
}

.video__image {
  width: 224.41px;
  height: 690px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 150px;
  position: relative;
}

.product__title {
  color: rgb(250, 88, 42);
  font-family: SF Pro Text;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 29px;
}

.product__subtitle {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 70px;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product__img {
  max-width: 437px;
  width: 100%;
  height: 293.99px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product__btn {
  position: absolute;
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 400;
  background: rgb(255, 255, 255);
  border: none;
  padding: 5px;
  right: -100%;
  top: -180%;
  transform: translate(50%, -170%);
}

.product__text {
  display: block;
  max-width: 185px;
  width: 100%;
  text-align: left;
  position: absolute;
  transform: translate(13%, -150%);
}

.product__head {
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 24px;
  font-weight: 400;
  word-spacing: 1px;
  margin-bottom: 5px;
}

.product__desc {
  color: rgb(213, 213, 213);
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.product__view {
  margin-top: 50px;
}

.product__button {
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  background: rgb(37, 30, 30);
  padding: 10px 16px;
}

.more {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  background: linear-gradient(181.01deg, rgb(31, 33, 34) 0.694%, rgb(22, 33, 41) 57.067%);
  margin-top: 150px;
  padding: 75px 85px 51px 25px;
}

.more__left {
  max-width: 280px;
  width: 100%;
}

.more__desc {
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.more__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.more__card {
  display: flex;
}

.more__image {
  width: 417px;
  height: 269px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.more__text {
  max-width: 414px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 88px;
  padding-left: 29px;
}

.more__title {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.more__subtitle {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.contact {
  display: block;
  width: 100%;
  position: relative;
}

.contact__img {
  position: relative;
}

.contact__bg {
  width: 100%;
}

.contact__text {
  position: absolute;
  max-width: 482px;
  width: 100%;
  display: block;
  text-align: center;
  left: 30%;
  top: 10%;
  transform: translate(3%, 20%);
}

.contact__title {
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.contact__subtitle {
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 30px;
}

.contact__btn {
  display: block;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgb(135, 135, 135);
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 16px;
}

.footer {
  display: block;
  margin-top: 117px;
  position: relative;
}

.footer__heading {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__adress {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
}

.footer__link {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 9px;
}

.footer__tel {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
}

.footer__link {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
}

.footer__more {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__line {
  width: 36px;
  height: 1px;
  border: 1px solid rgb(169, 169, 169);
}

.footer__text {
  color: rgb(37, 30, 30);
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 18px;
}

.footer__socials {
  display: flex;
  gap: 15px;
}

.footer__icon {
  width: 24px;
  height: 24px;
}

.footer__back {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(50%, 15%);
}

.footer__btn {
  display: block;
  border: none;
  background: rgb(229, 229, 229);
}

.footer__array {
  width: 16px;
  height: 12px;
}/*# sourceMappingURL=style.css.map */