@font-face {
    src: local('SF Pro Text'),
    url('./../../fonts/SFProText-Regular.ttf') format('ttf');
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: local('SF Pro Text'),
    url('./../../fonts/SFProText-Medium.ttf') format('ttf');
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
}