.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 150px;
    position: relative;
}

.product__title {
    color: rgb(250, 88, 42);
    font-family: SF Pro Text;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 29px;
}

.product__subtitle {
    color: rgb(37, 30, 30);
    font-family: SF Pro Text;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 70px;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product__img {
    max-width: 437px;
    width: 100%;
    height: 293.99px;
    object-fit: cover;
    object-position: center;
}

.product__btn {
    position: absolute;
    color: rgb(37, 30, 30);
    font-family: SF Pro Text;
    font-size: 14px;
    font-weight: 400;
    background: rgb(255, 255, 255);
    border: none;
    padding: 5px;
    right: -100%;
    top: -180%;
    transform: translate(50%, -170%);
}

.product__text {
    display: block;
    max-width: 185px;
    width: 100%;
    text-align: left;
    position: absolute;
    // top: -10%;
    // left: -100%;
    transform: translate(13%, -150%);
}

.product__head {
    color: rgb(255, 255, 255);
    font-family: SF Pro Text;
    font-size: 24px;
    font-weight: 400;
    word-spacing: 1px;
    margin-bottom: 5px;
}

.product__desc {
    color: rgb(213, 213, 213);
    font-family: SF Pro Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.product__view {
    margin-top: 50px;
}

.product__button {
    color: rgb(255, 255, 255);
    font-family: SF Pro Text;
    font-size: 16px;
    font-weight: 400;
    background: rgb(37, 30, 30);
    padding: 10px 16px;
}