.video {
    display: flex;
    margin-top: 150px;
    position: relative;
}

.video__img {
    width: 1086px;
    height: 690px;
    object-position: center;
    object-fit: cover;
}

.video__icon {
    position: absolute;
    width: 62.9px;
    height: 62.9px;
    // background-color: black;
    left: 43%;
    top: 50%;
    transform: translate(20%, -40%);
}

.video__image {
    width: 224.41px;
    height: 690px;
    object-position: center;
    object-fit: cover;
}